.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form{
  padding: 10px;
  border: solid 1px #ccc;
  border-radius: 10px;
}

form .item{
  padding: 10px;
}

label{
  display: block;
}

.button-add{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-add button{
  padding: 5px;
  text-align: center;
  border: solid 1px #ccc;
  border-radius: 10px;
}
